.card{
    // height: 500px;
    padding-top: 20px;
    position: relative;
}
.cardLabel{
    position: absolute;
    top: 0;
    right: 0;
}
.card-title{
    height: 60px;
}
.description {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
